doctype html
//
     -jet-350-
                            █
                            █
                            █
                          █████
                     ██████   █████
 ███████            ██            ██          █████████
     ████████████   ████████████████    ████████████
        █████████████  █  █  █  █  █████████████
           █   ██████████████████████████   █
         █████       █     JET    █       █████
         █░░░█       ███   350  ███       █░░░█
         █████         ████   ████        █████
                         ███████
    jet350-jet350-jet350-jet350-jet350-jet350-jet350

html(lang='en')
    head
        title Jet350
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheet/style.css')

    header
        div#hamb
            button(onclick='toggleNav()')
                svg(
                    xmlns="http://www.w3.org/2000/svg"
		 		    fill="none"
		 		    viewBox="0 0 24 24"
		 		    stroke="currentColor"
                    )
                    path(
                        stroke-linecap="round"
					    stroke-linejoin="round"
			  		    stroke-width="2"
			  		    d="M4 6h16M4 12h16M4 18h16"
                        )
        div#title
            h1
                a(href='/')
                    h1 Jet350
                        svg(
                            xmlns="http://www.w3.org/2000/svg"
						    fill="none"
						    viewBox="0 0 24 24"
						    stroke="currentColor"
                            )
                            path(
                                stroke-linecap="round"
							    stroke-linejoin="round"
							    stroke-width="2"
							    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                                )
        div#cartMenu
            button#account
                svg(
                    xmlns="http://www.w3.org/2000/svg"
		 	        fill="none"
			        viewBox="0 0 24 24"
		 	        stroke="currentColor"
                    )
                    path(
                        stroke-linecap="round"
			  	        stroke-linejoin="round"
			  	        stroke-width="2"
			  	        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                        )
            button#search(onclick = 'toggleCMS()')
                svg(
                    xmlns="http://www.w3.org/2000/svg"
				    fill="none"
				    viewBox="0 0 24 24"
				    stroke="currentColor"
                    )
                    path(
                        stroke-linecap="round"
					    stroke-linejoin="round"
					    stroke-width="2"
					    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        )
            button#cart
                svg(
                    xmlns="http://www.w3.org/2000/svg"
		 	        fill="none"
		 	        viewBox="0 0 24 24"
		 	        stroke="currentColor"
                    )
                    path(
                        stroke-linecap="round"
			  	        stroke-linejoin="round"
			  	        stroke-width="2"
			  	        d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                        )
        div#afterHead
        div#cartMenuSelect
            div
                span#search
                    button
                        svg(
                            xmlns="http://www.w3.org/2000/svg"
					        fill="none"
					        viewBox="0 0 24 24"
					        stroke="currentColor"
                            )
                            path(
                                stroke-linecap="round"
						        stroke-linejoin="round"
						        stroke-width="2"
						        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                )
                input(type='search' size = '35' placeholder='headsets, flight bags...')
                span#close
                    button(onClick = 'closeCMS()')
                        svg(
                            xmlns="http://www.w3.org/2000/svg"
					        fill="none"
					        viewBox="0 0 24 24"
					        stroke="currentColor"
                            )
                            path(
                                stroke-linecap="round"
							    stroke-linejoin="round"
							    stroke-width="2"
							    d="M6 18L18 6M6 6l12 12"
                                )
        div#navDiv
            div#hambNav
                button(onclick = 'toggleNav()')
                    svg(
                        xmlns="http://www.w3.org/2000/svg"
		 		        fill="none"
		 		        viewBox="0 0 24 24"
		 		        stroke="currentColor"
                        )
                        path(
                            stroke-linecap="round"
					        stroke-linejoin="round"
			  		        stroke-width="2"
			  		        d="M4 6h16M4 12h16M4 18h16"
                            )
            nav
                a(href='') Home
                a(href='') All Products
                a(href='') Gear
    body
        +content
    script(src='/javascripts/script.js')