extends ../template.pug
mixin content
    link(rel='stylesheet' href='/stylesheet/login.css')
    div#content
        table#forgotPassword.center
            tr
                th(colspan="2") Reset Your Password
                    form(action="", method="post")
                        tr
                            td Email
                            td
                                input(type="text", id = "email")
                        tr
                            td &nbsp;
                        tr
                            td(colspan="2") 
                                a(href="/forgot")
                                    div.tableButton Continue