extends ../template.pug
mixin content
    link(rel='stylesheet' href='/stylesheet/login.css')
    div#content
        table#signup.center
            tr
                th(colspan="2") Login
                    form(action="", method="post")
                        tr
                            td Email
                            td
                                input(type="text", id = "email")
                        tr
                            td Password
                            td
                                input(type="password", id="password")
                        tr
                            td &nbsp;
                        tr
                            td(colspan="2") 
                                a(href="/forgot")
                                    div.tableButton Forgot password?
    script(src='/javascripts/login.js')