.tableButton{
    padding:.5em;
    border:1px solid black;
}
.tableButton:hover{
    color:#06508d;
	border: 1px solid #06508d;
}
table{
    border:1px solid black;
    padding:2em;
    margin:2em;
}
table a{
    text-decoration:none;
    color:inherit;
    display:block;
    text-align: center;
}