@font-face{
	font-family: 'orbitron';
	src: url('./fonts/orbitron/orbitron-medium-webfont.eot');
	src: 	url('./fonts/orbitron/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
			url('./fonts/orbitron/orbitron-medium-webfont.woff') format('woff'),
			url('./fonts/orbitron/orbitron-medium-webfont.ttf') format('truetype'),
			url('./fonts/orbitron/orbitron-medium-webfont.svg') format('svg');
}
html{
	width: 100%;
	font-family: orbitron;
}
html *{
    transition:.5s;
}

header{
	width:99%;
	height:100px;
	display:flex;
	/*background-color:#06508d;*/
	/*background-image: linear-gradient(to right, #06508d, #0a375c);*/
	/*color:cornsilk;*/
	align-items:center;
	position: fixed;
	left: .5%;
	transition:.5s;
	border-top: 40px solid white;
	margin-top: -40px;
	border-left: 40px solid white;
	margin-left: -40px;
	border-right: 40px solid white;
	margin-right: -40px;
}
#afterHead{
	background-image: linear-gradient(to right, #06508d, #0a375c);
	height:65px;
	top:117px;
	position:fixed;
	width:99.5%;
	left: .5%;
}
/*
nav:nth-child(1):hover #afterHead{
	left:.5% !important;
}*/
header button{
	border: 1px solid transparent;
}
header button:hover{
	color:#06508d;
	border: 1px solid #06508d;
}
#hamb{
	margin:right;
}
#title{
	margin:auto;
	display:inline;
}
#title a{
	text-decoration:none;
	color:inherit;
	font-size: 0.8em;
}
svg{
	height:48px;
	width:48px;
	vertical-align: middle;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#cartMenuSelect{
	position:fixed;
	top: 124px;
	width:80.8%;
	right: .5%;
	font-size:2em;
    transition:.5s;
    padding: -1px;
	border: 1px solid gray;
	visibility: hidden;
    background-color:white;
    opacity: 0;
}
#cartMenuSelect div{
	float:right;
}
#cartMenuSelect input{
	font-size:1em;
	border: 0px;
	margin: 0 0 0 4;
}
#content{
	top:180px;
	position:relative;
	z-index:-1;
}
nav{
	background-color: #06508d;
    display:grid;
    top: 172px;
}
#navDiv nav a{
	padding: 20px 0px 20px 10px;
	text-decoration: none;
	color: inherit;
	position: relative;
    border-bottom:1px white solid;
	border-top:1px white solid;
}
#navDiv nav a:hover{
	color:#06508d;
	background-color: white;
}
#navDiv{
    visibility: hidden;
    animation: fadein;
	opacity: 0;
	background-image: linear-gradient(to right, #06508d, #074b84);
    /*background-color:#06508d;*/
    position: fixed;
    top:0px;
    left:.5%;
    bottom: 0;
    width:18%;
    color:white;
    font-size: 1.3em;
}
#hambNav{
    height:100px;
	display:flex;
	position: relative;
	padding-bottom:16px;
}
#hambNav:hover{
	background-color:white;
	color:#06508d;
}
#hambNav button{
	position: relative;
	top:16px;
}
.center{
	margin:auto;
}